<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>

  <SubSonicService defaultProvider="MySqlSubsonic">
    <providers>
      <clear />
      <add name="MySqlSubsonic" type="SubSonic.MySqlDataProvider, SubSonic" connectionStringName="ReadStats" generatedNamespace="IntelliMail.Data.DAL" />
      <add name="MySqlSubsonicWrite" type="SubSonic.MySqlDataProvider, SubSonic" connectionStringName="WriteStats" generatedNamespace="IntelliMail.Data.DAL" />
      <add name="MySqlSubsonicRead" type="SubSonic.MySqlDataProvider, SubSonic" connectionStringName="ReadStatsRoot" generatedNamespace="IntelliMail.Data.DAL" />
    </providers>
  </SubSonicService>

  <connectionStrings>
    <add name="ReadStats" connectionString="server=address to DB server;user id=should be root;password=put the password here;database=sendible;pooling=true; Max Pool Size=800;charset=utf8mb4;Allow Zero Datetime=true;Connection Timeout=60;default command timeout=60;Connection Lifetime=0" />
    <add name="WriteStats" connectionString="server=address to DB server;user id=should be root;password=put the password here;database=sendible;pooling=true; Max Pool Size=800;charset=utf8mb4;Allow Zero Datetime=true;Connection Timeout=60;default command timeout=60;Connection Lifetime=0" />
    <add name="ReadStatsRoot" connectionString="server=address to DB server;user id=should be root;password=put the password here;database=sendible;pooling=true; Max Pool Size=800;charset=utf8mb4;Allow Zero Datetime=true;Connection Timeout=60;default command timeout=60;Connection Lifetime=0 "/>
  </connectionStrings>
</configuration>